/* Smartphones */
@media only screen and (max-width: 480px) {
  
  .container {
    height: 300px; 
  }
  
  h1.grey {
    font-size: 60px; 
  }
  
  p.color {
    font-size: 24px;
  }
  
  
}

/* Tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  
  .container {
    height: 400px; 
  }
  
  h1.grey {
    font-size: 80px; 
  }
  
  p.color {
    font-size: 28px; 
  }
  
  
}

/* Desktops */
@media only screen and (min-width: 1025px) {
  
  .container {
    height: 500px; 
  }
  
  h1.grey {
    font-size: 90px; 
  }
  
  p.color {
    font-size: 40px; 
  }
  
  
}


body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #140731;

    }

    .container {
      width: 100%;
    }

    .top{
      top: 0;
      height: 300px;
     
    }


     h1.grey{
      position: absolute;
      margin-top: 110px;
      margin-left: 70px;
      font-style: normal;
      font-weight: 600;
      font-size: 90px;
      line-height: 42px;
      color: #adadad;
    }

    p.color{
      margin-top: 200px;
      margin-left: 70px;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 42px;
      color: #adadad;
    }
    
    b.color{
      background-image: linear-gradient(to right, #ff4da3, #75d1ff);
      background-clip: text;
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;
      color: black;
    }
    
    .mid{
      height: 500px;
      width: 100%;
      display: grid;
    }

    p.gray{
      position: absolute;
      margin-top: 180px;
      margin-left: 70px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 42px;
      color: #181818;
      background-color: #ff4da3;
      padding: 10px;
      border-radius: 10px;
    }
    

    .jst{
      width: 40%;
      justify-self: end;

    }

    .seta{
      width: 4%;
      position: absolute;
      right: 50%;
      bottom: 0;
    }

    p.white{
      position: absolute;
      margin-top: 380px;
      margin-left: 70px;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
      color: #adadad;
    }

    h1.gray{
      position: absolute;
      margin-left: 70px;
      margin-top: 280px;
      font-style: normal;
      font-weight: 600;
      font-size: 90px;
      line-height: 42px;
      color: #adadad;
    }
    