    body{
      background-color: #140731;
      margin: 0;
      padding: 0;
      font-family: 'Inter', sans-serif;
    }

    .container {
      max-width: 1680px;
      margin: 0 auto;
      padding: 20px;
      display: grid;
    }

    .top{ 
       height: 300px;
    }


     h1.grey{
      position: absolute;
      font-style: normal;
      font-weight: 600;
      font-size: 90px;
      line-height: 42px;
      color: #adadad;
    }

    p.color{
      margin-top: 160px;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 42px;
      color: #adadad;
    }
    
    b.color{
      background-image: linear-gradient(to right, #ff4da3, #75d1ff);
      background-clip: text;
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;
      color: black;
    }
    
    .mid{
      height: 600px;
    }

    p.gray{
      position: absolute;
      margin-top: 100px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 42px;
      color: #181818;
      background-color: #ff4da3;
      padding: 10px;
      border-radius: 10px;
    }
    

    .jst{
      width: 40%;
      margin-left: 50%;

    }

    .seta{
      width: 5%;
      margin-right: 50%;
      margin-left: 50%;
      bottom: 52;
      position: relative;
    }

    .seta:hover {
      filter: brightness(55%); 
      transition: filter 0.3s ease-in-out;
      cursor: pointer;
    }

    p.white{
      position: relative;
      margin-top: 320px;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
      color: #adadad;
    }

    h1.gray{
      margin-top: 220px;
      font-style: normal;
      font-weight: 600;
      font-size: 90px;
      line-height: 42px;
      color: #adadad;
    }


    .bot{
      height: 700px;
      margin-left: 1200px;
      text-align: end;
      align-items: right;
      max-width: 500px;
    }
    
    .zoom-in {
      animation: zoomIn 1s forwards;
    }
    
    @keyframes zoomIn {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.2);
      }
    }

   
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(75, 75, 75) rgb(255, 255, 255);
}

/* Chrome, Edge, e Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(75, 75, 75);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}
.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
p.gry{
  font-size: 16px;
  color:#d6d6d6;
  text-align: left;
  margin-left: 40px;
  text-shadow: #000000;
}

a.grey{
  text-decoration-line: none;
  color:#1a1a1a;
  text-shadow: #000000;

}

#botao1,
#botao2 {
background-color: rgb(117, 167, 168);
display: inline-block;
position: relative;
left: 30px;
border: none;
border-radius: 20px;
padding: 7px;
font-size: 14px;
color:#4b4040;
text-shadow: #000000;
font-weight: 550;
}

#botao2{
margin-left: 10px;
}

.popup-content {
  position: relative;
  top: 62%;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 43px;
  z-index: 999;
  backdrop-filter: blur(7px);
  transform: translate(-50%, -50%);
  background-color: rgb(141, 76, 202);
  border-radius: 15px;
  padding: 20px;
  text-align: start;
  display: flex;
  align-items: center;
}
.foot p{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #adadad;
}
.foot{
  height: 700px;
  max-width: 500px;
  text-align: left;
}