body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      margin: 0 auto;
      padding: 20px;
    }

    #header {
      background-image: url(imagens/back.jpeg);
      padding: 10px;
      height: max-content;
    }

    @media only screen and (max-width: 600px) {
      .container {
        padding: 10px;
      }
     
    }