body {
    font-family: 'Roboto', sans-serif;
    background-color: #d6d6d6;
  }
  
  .container{
    margin: auto;
    padding: 0;
    max-width: 1280px;
    justify-content: center;
  }
  
  #top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(211 59 251);
    margin-top: -8px;
    margin-left: ;
  }

  #top button{
    width: 35px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #b430d4;
    margin: 20px;
  }

  #top img{
    width: 15px;
    margin: 0 auto;
    justify-content: center;

  }

  #top a,ul,li{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration-line: none;
    margin: 10px;
  }
  
  
  #mid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    padding: 10px;
  }
  
  .picture {
    width: 100%;
    height: auto;
    padding: 2px;
    border-radius: 20px;
  }
  
  img {
    max-width: 90%;
    height: auto;
  }
  
  /* Media queries */
  
  /* Smartphone */
  @media (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
    #top {
      height: 80px;
      min-width: 100%;
    }
    
    #top a,ul,li{
      list-style: none;
      display: flex;
      flex-direction: row;
      text-decoration-line: none;
      margin: 10px;
    }
    
    #mid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 5px;
      padding: 5px;
      flex-wrap: wrap;
    }
    
    .picture {
      padding: 2px;
    }
  }
  
  @media (max-width: 768px) {
    #top {
      height: 80px;
      width: auto;
    }
    
    #top a,ul,li{
      list-style: none;
      display: flex;
      flex-direction: row;
      text-decoration-line: none;
      margin: 10px;
    }
    
    #mid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 5px;
      padding: 5px;
    }
    
    .picture {
      padding: 2px;
    }
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1180px) {
    #top {
      height: 70px;
      width: auto;
    }

    #top a,ul,li{
      list-style: none;
      display: flex;
      flex-direction: row;
      text-decoration-line: none;
      margin: 10px;
    }
    
    #mid {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 7px;
      padding: 7px;
    }
    
    .picture {
      padding: 4px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #top {
      height: 70px;
    }
    
    #top a,ul,li{
      list-style: none;
      display: flex;
      flex-direction: row;
      text-decoration-line: none;
      margin: 10px;
    }

    #mid {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 7px;
      padding: 7px;
    }

    .picture {
      padding: 4px;
    }
  }