body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.top li{
  list-style: none;
  display: inline-block;
  text-decoration-line: none;
}

.mid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  justify-items: center;
}

.picture {
  width: 100%;
  height: auto;
  display: flex;
  padding: 5px;
}

img {
  max-width: 100%;
  height: auto;
}